<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>BananaCar</title>
    <meta name="viewport" content="width=device-width">
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>



<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="logo">
                    <img src="images/header/logo.png" alt="logo banana car" class="logo-img">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="header__btn-block">
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalRegistration">Sign In</button>
                    <div class="dropdown">
                        <button class="btn header__btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown">
                            <span>
                                <img src="images/flags/en.png" alt="">
                                English
                            </span>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <img src="images/flags/en.png" alt="">
                                    English
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="header__info">
                    <div class="header__text">Let’s travel together</div>
                    <div class="header__text-description">Cut the cost of your journey and meet amaizing people</div>
                    <a href="" class="btn btn-landing__big">Get started</a>
                </div>
                <a href="#how" class="btn btn__landing-scrollto">
                    <img src="images/ui/arrow-big-w.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
<section class="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="landing__h2">Why BananaCar?</h2>
            </div>
            <div class="col-lg-6">
                <div class="why__desription">
                    <span class="check check-grey"></span>
                    Leading carpooling platform in Baltics region.
                </div>
                <div class="why__desription">
                    <span class="check check-grey"></span>
                    Join for free and find passengers or drivers to save money of your jorneys.
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why__desription">
                    <span class="check check-grey"></span>
                    Faster, cheaper and comfortable.
                </div>
                <div class="why__desription">
                    <span class="check check-grey"></span>
                    Saved information about people who you travel with. For your safety.
                </div>
            </div>
        </div>
    </div>
    <div class="why__road-snake"></div>
</section>

<section class="how" id="how">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="landing__h2">How BananaCar works?</h2>
            </div>
            <div class="col-lg-3">
                <div class="how__container">
                    <a href class="how__img">
                        <img src="images/landing/how-login.png" alt="">
                    </a>
                    <div class="how__title">
                        Join
                    </div>
                    <div class="how__description">
                        It's quick and simple.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how__container">
                    <a href class="how__img">
                        <img src="images/landing/how-search.png" alt="">
                    </a>
                    <div class="how__title">
                        Find a ride
                    </div>
                    <div class="how__description">
                        Search for a free seat or add your own request.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how__container">
                    <a href class="how__img">
                        <img src="images/landing/how-car.png" alt="">
                    </a>
                    <div class="how__title">
                        Offer a ride
                    </div>
                    <div class="how__description">
                        Add a ride to fill empty seats of your car.
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how__container">
                    <a href class="how__img">
                        <img src="images/landing/how-euro.png" alt="">
                    </a>
                    <div class="how__title">
                        Save
                    </div>
                    <div class="how__description">
                        Start saving money by sharing traveling costs together.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="travel-as">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="landing__h2">Travel as</h2>
            </div>
            <div class="col-lg-6">
                <div class="travel-as__container travel-as__container-left">
                    <div class="travel-as__title">Passanger</div>
                    <div class="travel-as__container-info">
                        <div class="container-info__img">
                            <img src="images/landing/passanger.png" alt="">
                        </div>
                        <div class="container-info__block">
                            <div class="container-info__block-text">Search and reserve a free seat</div>
                            <div class="container-info__block-text">Add requoest for a ride</div>
                            <div class="container-info__block-text">Travel cheaper, faster and more comfortable</div>
                        </div>
                    </div>
                    <div class="travel-as__container-fresh">
                        <div class="fresh__title">Fresh requests</div>

                        <!--fresh-->
                        <div class="fresh__container">
                            <div class="fresh__img">
                                <img src="images/landing/man.png" alt="">
                            </div>
                            <div class="fresh__col fresh__col-1">
                                <div class="fresh__name">
                                    <a href="" class="fresh__name-link">
                                        Aivaras Kalinauskas
                                    </a>
                                </div>
                                <div class="fresh__rating">
                                    <img src="images/ui/star.png" alt="">
                                    <span class="fresh__rating-text">5/5</span>
                                    <span>(8)</span>
                                </div>
                                <div class="fresh__social">
                                    <img src="images/ui/social-fb-small.png" alt="">
                                    <span>308</span>
                                    <span>friends</span>
                                </div>
                            </div>
                            <div class="fresh__col">
                                <div class="fresh__time">
                                    Today 17:00 - 18:00
                                </div>
                                <div class="fresh__place">
                                    <div class="fresh__place-from">
                                        Kaunas
                                    </div>
                                    <div class="fresh__place-to">
                                        Druskininkai
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--fresh-->
                        <div class="fresh__container">
                            <div class="fresh__img">
                                <img src="images/landing/man.png" alt="">
                            </div>
                            <div class="fresh__col fresh__col-1">
                                <div class="fresh__name">
                                    <a href="" class="fresh__name-link">
                                        Aivaras Kalinauskas
                                    </a>
                                </div>
                                <div class="fresh__rating">
                                    <img src="images/ui/star.png" alt="">
                                    <span class="fresh__rating-text">5/5</span>
                                    <span>(8)</span>
                                </div>
                                <div class="fresh__social">
                                    <img src="images/ui/social-fb-small.png" alt="">
                                    <span>308</span>
                                    <span>friends</span>
                                </div>
                            </div>
                            <div class="fresh__col">
                                <div class="fresh__time">
                                    Today 17:00 - 18:00
                                </div>
                                <div class="fresh__place">
                                    <div class="fresh__place-from">
                                        Kaunas
                                    </div>
                                    <div class="fresh__place-to">
                                        Druskininkai
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--fresh-->
                        <div class="fresh__container">
                            <div class="fresh__img">
                                <img src="images/landing/man.png" alt="">
                            </div>
                            <div class="fresh__col fresh__col-1">
                                <div class="fresh__name">
                                    <a href="" class="fresh__name-link">
                                        Aivaras Kalinauskas
                                    </a>
                                </div>
                                <div class="fresh__rating">
                                    <img src="images/ui/star.png" alt="">
                                    <span class="fresh__rating-text">5/5</span>
                                    <span>(8)</span>
                                </div>
                                <div class="fresh__social">
                                    <img src="images/ui/social-fb-small.png" alt="">
                                    <span>308</span>
                                    <span>friends</span>
                                </div>
                            </div>
                            <div class="fresh__col">
                                <div class="fresh__time">
                                    Today 17:00 - 18:00
                                </div>
                                <div class="fresh__place">
                                    <div class="fresh__place-from">
                                        Kaunas
                                    </div>
                                    <div class="fresh__place-to">
                                        Druskininkai
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End travel-as__container-fresh-->
                    <div class="fresh__btn-container">
                        <a href class="btn btn-landing__fresh"><img src="images/ui/search-green.png" alt="">Find a ride</a>
                    </div>
                </div>
            </div>

            <!--Driver-->

            <div class="col-lg-6">
                <div class="travel-as__container travel-as__container-right">
                    <div class="travel-as__title">Driver</div>
                    <div class="travel-as__container-info">
                        <div class="container-info__img">
                            <img src="images/landing/driver.png" alt="">
                        </div>
                        <div class="container-info__block">
                            <div class="container-info__block-text">Add a ride to fill empty seats of your car</div>
                            <div class="container-info__block-text">Check pasanger and accept his/her seat reservation
                            </div>
                            <div class="container-info__block-text">Save money by sharing traveling costs</div>
                        </div>
                    </div>
                    <div class="travel-as__container-fresh">
                        <div class="fresh__title">Fresh offers</div>
                        <!--fresh-->
                        <div class="fresh__container">
                            <div class="fresh__img">
                                <img src="images/landing/man.png" alt="">
                            </div>
                            <div class="fresh__col fresh__col-1">
                                <div class="fresh__name">
                                    <a href="" class="fresh__name-link">
                                        Aivaras Kalinauskas
                                    </a>
                                </div>
                                <div class="fresh__rating">
                                    <img src="images/ui/star.png" alt="">
                                    <span class="fresh__rating-text">5/5</span>
                                    <span>(8)</span>
                                </div>
                                <div class="fresh__social">
                                    <img src="images/ui/social-fb-small.png" alt="">
                                    <span>308</span>
                                    <span>friends</span>
                                </div>
                            </div>
                            <div class="fresh__col fresh__col-2">
                                <div class="fresh__time">
                                    Today 17:00
                                </div>
                                <div class="fresh__place">
                                    <div class="fresh__place-from">
                                        Kaunas
                                    </div>
                                    <div class="fresh__place-to">
                                        Druskininkai
                                    </div>
                                </div>
                            </div>
                            <div class="fresh__col fresh__col-3">
                                <div class="fresh__cost">
                                    4,5 €
                                </div>
                            </div>
                        </div>
                        <!--fresh-->
                        <div class="fresh__container">
                            <div class="fresh__img">
                                <img src="images/landing/man.png" alt="">
                            </div>
                            <div class="fresh__col fresh__col-1">
                                <div class="fresh__name">
                                    <a href="" class="fresh__name-link">
                                        Aivaras Kalinauskas
                                    </a>
                                </div>
                                <div class="fresh__rating">
                                    <img src="images/ui/star.png" alt="">
                                    <span class="fresh__rating-text">5/5</span>
                                    <span>(8)</span>
                                </div>
                                <div class="fresh__social">
                                    <img src="images/ui/social-fb-small.png" alt="">
                                    <span>308</span>
                                    <span>friends</span>
                                </div>
                            </div>
                            <div class="fresh__col fresh__col-2">
                                <div class="fresh__time">
                                    Today 17:00
                                </div>
                                <div class="fresh__place">
                                    <div class="fresh__place-from">
                                        Kaunas
                                    </div>
                                    <div class="fresh__place-to">
                                        Druskininkai
                                    </div>
                                </div>
                            </div>
                            <div class="fresh__col fresh__col-3">
                                <div class="fresh__cost">
                                    4,5 €
                                </div>
                            </div>
                        </div>
                        <!--fresh-->
                        <div class="fresh__container">
                            <div class="fresh__img">
                                <img src="images/landing/man.png" alt="">
                            </div>
                            <div class="fresh__col fresh__col-1">
                                <div class="fresh__name">
                                    <a href="" class="fresh__name-link">
                                        Aivaras Kalinauskas
                                    </a>
                                </div>
                                <div class="fresh__rating">
                                    <img src="images/ui/star.png" alt="">
                                    <span class="fresh__rating-text">5/5</span>
                                    <span>(8)</span>
                                </div>
                                <div class="fresh__social">
                                    <img src="images/ui/social-fb-small.png" alt="">
                                    <span>308</span>
                                    <span>friends</span>
                                </div>
                            </div>
                            <div class="fresh__col fresh__col-2">
                                <div class="fresh__time">
                                    Today 17:00
                                </div>
                                <div class="fresh__place">
                                    <div class="fresh__place-from">
                                        Kaunas
                                    </div>
                                    <div class="fresh__place-to">
                                        Druskininkai
                                    </div>
                                </div>
                            </div>
                            <div class="fresh__col fresh__col-3">
                                <div class="fresh__cost">
                                    4,5 €
                                </div>
                            </div>
                        </div>

                    </div><!--End travel-as__container-fresh-->
                    <div class="fresh__btn-container">
                        <a href class="btn btn-landing__fresh"><img src="images/ui/car-green.png" alt="">Offer a ride</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="community">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="landing__h2">Why our community loves BananaCar?</h2>
            </div>
            <div class="col-lg-12">
                <div id="myCarousel" class="carousel slide community__carousel" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="community__carousel-item item active">
                            <div class="col-lg-6 col-lg-offset-3 community__carousel-img">
                                <img src="images/landing/1.png" alt="">
                            </div>
                            <div class="col-lg-6 col-lg-offset-3 community__carousel-name">
                                Norbe Daunoravičius
                            </div>
                            <div class="col-lg-6 col-lg-offset-3 community__carousel-text">
                                Puikus projektas skirtas vairuotojams ir pakeleiviams surasti vienas kitą, o naudojantis
                                tinklalapiu dar gaunate kavos, automobilio plovimą ir bilietus į kiną - vien bonusai!
                            </div>
                        </div>

                        <div class="community__carousel-item item">
                            <div class="col-lg-6 col-lg-offset-3 community__carousel-img">
                                <img src="images/landing/1.png" alt="">
                            </div>
                            <div class="col-lg-6 col-lg-offset-3 community__carousel-name">
                                Norbe Daunoravičius 2
                            </div>
                            <div class="col-lg-6 col-lg-offset-3 community__carousel-text">
                                Puikus projektas skirtas vairuotojams ir pakeleiviams surasti vienas kitą, o naudojantis
                                tinklalapiu dar gaunate kavos, automobilio plovimą ir bilietus į kiną - vien bonusai!
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                            <img src="images/ui/arrow-left-big-green.png" alt="">
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                            <img src="images/ui/arrow-right-big-green.png" alt="">
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>
<div id="modalRegistration" class="modal fade" role="dialog">
    <div class="modal-dialog modal-registration">
        <!-- Modal content-->
        <div class="modal-content modal-registration__content">
            <ul class="nav nav-tabs modal-registration__nav">
                <li class="active"><a data-toggle="tab" href="#signin">Sign In</a></li>
                <li><a data-toggle="tab" href="#signup">Sign Up</a></li>
            </ul>
            <button type="button" class="close btn-modal__close" data-dismiss="modal">
                <img src="images/ui/x.png" alt="">
            </button>
            <div class="tab-content modal-registration__tab-content">
                <form id="signin" class="tab-pane fade in active modal-registration__form">
                    <div class="modal-registration__form-row">
                        <a href="" class="btn__social btn__social-fb">Sign in with Facebook</a>
                    </div>
                    <div class="modal-registration__form-row">
                        <a href="" class="btn__social btn__social-g">Sign in with Google</a>
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="divider__container">
                            <span class="divider divider-left"></span>
                            <span class="divider-center">or</span>
                            <span class="divider divider-right "></span>
                        </div>
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="modal-registration__title">
                            Sign in to your BananaCar account
                        </div>
                    </div>
                    <div class="modal-registration__form-row">
                        <input type="email" placeholder="Email" class="input">
                    </div>
                    <div class="modal-registration__form-row">
                        <input type="password" placeholder="Password" class="input">
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="modal-registration__btn-container">
                            <a href="" class="btn btn__modals btn__modals-forgot">Forgot password?</a>
                            <a href="" class="btn btn__modals btn__modals-sign-in btn__green">Sign In</a>
                        </div>
                    </div>
                </form>
                <form id="signup" class="tab-pane fade modal-registration__form">
                    <div class="modal-registration__form-row">
                        <a href="" class="btn__social btn__social-fb">Sign in with Facebook</a>
                    </div>
                    <div class="modal-registration__form-row">
                        <a href="" class="btn__social btn__social-g">Sign in with Google</a>
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="divider__container">
                            <span class="divider divider-left"></span>
                            <span class="divider-center">or</span>
                            <span class="divider divider-right "></span>
                        </div>
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="modal-registration__title">
                            Create your BananaCar account
                        </div>
                    </div>
                    <div class="modal-registration__form-row">
                        <label class="radio-container">
                            <input type="radio" name="radio-1" value="1" checked>
                            <span class="radio">Male</span>
                        </label>
                        <label class="radio-container">
                            <input type="radio" name="radio-1" value="1">
                            <span class="radio">Female</span>
                        </label>
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="input__group">
                            <input type="text" placeholder="First name" class="input">
                            <input type="text" placeholder="Last name" class="input">
                        </div>
                    </div>
                    <div class="modal-registration__form-row">
                        <input type="email" placeholder="Email" class="input">
                    </div>
                    <div class="modal-registration__form-row">
                        <input type="password" placeholder="Password (min. 8 characters)" class="input">
                    </div>
                    <div class="modal-registration__form-row">
                        <input type="password" placeholder="Confirm password" class="input">
                    </div>
                    <div class="modal-registration__form-row">
                            <select class="select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                    </div>
                    <div class="modal-registration__form-row">
                        <a href="" class="btn btn__modals btn__modals-sign-up btn__green">Sign Up</a>
                    </div>
                    <div class="modal-registration__form-row">
                        <div class="modal-registration__text">By signing up you accept the <a href="">T&Cs and Privacy Policy</a>.</div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="footer__nav">
                    <li class="footer__nav-item"><a href="" class="footer__nav-link">About</a></li>
                    <li class="footer__nav-item"><a href="" class="footer__nav-link">F.A.Q.</a></li>
                    <li class="footer__nav-item"><a href="" class="footer__nav-link">Partners</a></li>
                    <li class="footer__nav-item"><a href="" class="footer__nav-link">Privacy Policy</a></li>
                    <li class="footer__nav-item"><a href="" class="footer__nav-link">Contact</a></li>
                    <li class="footer__nav-item"><a href="" class="footer__nav-link">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-6">

                <!--I don't now why it does not work, so I add script and img inside it-->

                <div class="fb-page" data-href="https://www.facebook.com/bananacarLT/" data-width="495"
                     data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                     data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/bananacarLT/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/bananacarLT/">
                        <img src="images/landing/fb.png" alt="">
                    </a></blockquote>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="scripts/scripts.js" type="text/javascript"></script>

<div id="fb-root"></div>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/lt_LT/sdk.js#xfbml=1&version=v2.8&appId=615960481822236";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>