.find__btn {
  &-container {
    @include flexbox();
    width: 100%;
    @include justify-content(flex-end);
  }
  &-search {
    min-width: 150px;
    min-height: 40px;
  }
  &-left {
    width: 11px;
    height: 17px;
    background: url("../images/ui/arrow-left.png") no-repeat center;
  }
  &-right {
    width: 11px;
    height: 17px;
    background: url("../images/ui/arrow-right.png") no-repeat center;
  }
  &-leave {
    min-width: 150px;
    height: 40px;
  }
}

.find-a-ride {
  width: 100%;
  margin: 100px 0 0;
  padding: 45px 0 65px;
  background: $ui-color-white-2;
  color: $ui-color-grey;
}

.find__container {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0 0 20px;
  background: #fff;
  &-left {
    margin-left: -15px;
    padding: 0 30px 20px;
    .find__title {
      @include justify-content(center);
    }
  }
  &-right {
    margin-right: -15px;
    .find__title {
      justify-content: space-between;
      border-bottom: 1px solid $ui-color-white-2;
    }
  }
  &-grey{
    border-color: transparent;
    background: $ui-color-white-2;
  }
}

.find__row {
  @include flexbox();
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 15px;
}

.find__title {
  @include flexbox();
  @include align-items(center);
  width: 100%;
  height: 70px;
  font-size: 1.125rem;
  font-weight: 600;
}

.find__location-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  flex-direction: column;
}

.find__location {
  img {
    margin: 0 5px;
  }
}

.find__date {
  color: $ui-color-green;
}

.find__input-container {
  font-weight: 600;
  font-size: 0.875rem;
  .input {
    padding: 10px 40px;
    &:-ms-input-placeholder {
      color: #969696;
    }
    &:-moz-placeholder {
      color: #969696;
    }
    &::-moz-placeholder {
      color: #969696;
    }
    &::-webkit-input-placeholder {
      color: #969696;
    }
  }
}

.find__input {
  &-from {
    .input__addon-left {
      background: url("../images/ui/location-green.png") no-repeat center;
      background-size: 10px 16px;
    }
    .input__addon-right {
      background: url("../images/ui/switch-not-active.png") no-repeat center;
      background-size: 14px 14px;
    }
    .input {
      &-has-filled + .input__addon-right {
        background: url("../images/ui/switch.png") no-repeat center;
      }
    }
  }
  &-to {
    .input__addon-left {
      background: url("../images/ui/location-blue.png") no-repeat center;
      background-size: 10px 16px;
    }
  }
  &-calendar {
    .input {
      padding-left: 90px;
    }
    .input__addon-left {
      @include justify-content(flex-end);
      width: 80px;
      background: url("../images/ui/calendar.png") no-repeat;
      background-size: 18px 18px;
      background-position: 10px center;

    }
    .input__addon-right {

    }
  }
}

.find__leave-request-container {
  @include flexbox();
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 40px 0 0 -15px;
  border-bottom: 1px solid #d4d4d4;
  padding: 0 30px;
  &-title {
    display: inline-flex;
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.125rem;
    font-weight: 600;
  }
  &-img {
    display: inline-flex;
    max-width: 215px;
  }
  &-info {
    display: inline-flex;
    max-width: 290px;
    flex-flow: row wrap;
  }
  &-text {
    @include flexbox();
    width: 100%;
    height: 50%;
    font-weight: 600;
    font-size: 0.875rem;
    @include justify-content(flex-end);
  }
  &-btn {
    @include flexbox();
    width: 100%;
    height: 50%;
    @include justify-content(flex-end);
  }
}
.find__noresults-container{
  @include flexbox();
  flex-flow: row wrap;
  width: 100%;
  color: #969696;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  .noresults__title{
    @include flexbox();
    width: 100%;
    @include justify-content(center);
    margin: 110px 0 10px;
  }
  .noresults__text{
    @include flexbox();
    @include justify-content(center);
    width: 100%;
  }
  .noresults__img{
    @include flexbox();
    width: 100%;
    height: 355px;
    margin-top: 30px;
    background: url("../images/find-a-ride/no-result-arrow.png") 30px 0 no-repeat;
  }
}