.header {
  @include flexbox();
  width: 100%;
  min-height: 80px;
  color: #000;
  @include align-items(center);
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  .header__top-menu {
    @include flexbox();
  }

  .logo {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    width: 50%;
  }

  .logo-img {
    width: 148px;
    height: 40px;
  }

  .header__btn-block {
    position: relative;
    @include flexbox();
    width: 50%;
    @include justify-content(flex-end);
    @include align-items(flex-start);
  }

  .header__info {
    @include flexbox();
    flex: 1 100%;
    flex-flow: row wrap;
    @include justify-content(center);
    margin: 110px 0 170px 0;
  }

  .header__text {
    @include flexbox();
    width: 100%;
    @include justify-content(center);
    margin-bottom: 40px;
    font-size: 3.75rem;
    font-weight: 700;
  }

  .header__text-description {
    @include flexbox();
    width: 100%;
    @include justify-content(center);
    margin-bottom: 40px;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .header__btn {
    position: relative;
    @include flexbox();
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    padding: 0;
    background: #ebebeb;
  }

  .header__btn-img {
    margin: auto;
  }

  .header__img-flag {
    position: relative;
    top: -3px;
    margin-right: 5px;
  }

  .header__btn-msg {
    .header__btn-img {
      width: 23px;
      height: 23px;
      background: url("../images/ui/msg.png");
    }
  }

  .header__btn-notif {
    .header__btn-img {
      width: 23px;
      height: 23px;
      background: url("../images/ui/bell.png");
    }
  }

  .header__btn-name {
    .header__btn-img {
      width: 35px;
      height: 35px;
      background: url("../images/users/user-test.png");
    }
  }

  .header__dropdown {
    &.open {
      .header__btn-dropdown {
        border-color: $ui-color-dark-green;
        background: $ui-color-dark-green;
      }
      .header__btn-msg {
        .header__btn-img {
          background: url("../images/ui/msg2.png");
        }
      }
      .header__btn-notif {
        .header__btn-img {
          background: url("../images/ui/bell2.png");
        }
      }
      .header__btn-name {
        .header__btn-img {
          background: url("../images/users/user-test.png");
        }
      }
    }
    &.header__dropdown-active {
      .header__btn-dropdown {
        border-color: $ui-color-light-green;
        background: $ui-color-light-green;
      }
      .header__btn-msg {
        .header__btn-img {
          background: url("../images/ui/msg.gif");
        }
      }
      .header__btn-notif {
        .header__btn-img {
          background: url("../images/ui/bell.gif");
        }
      }
      .header__btn-name {
        .header__btn-img {
          background: url("../images/users/user-test.png");
        }
      }
      .badge {
        @include flexbox();
      }
    }

  }

  .header__btn-dropdown {
    padding: 0;
    &:hover {
      border-color: $ui-color-light-green;
      background: $ui-color-light-green;
      &.header__btn-msg {
        .header__btn-img {
          background: url("../images/ui/msg2.png");
        }
      }
      &.header__btn-notif {
        .header__btn-img {
          background: url("../images/ui/bell2.png");
        }
      }
    }

  }

  .header__dropdown-lang {
    color: #000;
    &.open {
      .header__btn-dropdown {
        border-color: transparent;
        background: transparent;
      }
    }
    .header__btn-dropdown {
      display: block;
      min-width: 115px;
      &:hover {
        border-color: transparent;
        background: transparent;
      }
    }
    .dropdown-lang__menu {
      top: 44px;
      left: -18px;
      min-width: 155px;
      margin: 0;
      padding: 15px 5px;
      &:before {
        content: "";
        position: absolute;
        top: -21px;
        left: 45%;
        border: 10px solid transparent;
        border-bottom: 10px solid #ebebeb;
      }
      &:after {
        content: "";
        position: absolute;
        top: -19px;
        left: 45%;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
    }
    .dropdown-lang__link {
      @include flexbox();
      min-height: 30px;
      @include justify-content(flex-start);
      @include align-items(center);
      font-weight: 600;
      img {
        margin-right: 10px;
      }
      &:hover {
        background: $ui-color-light-grey;
        font-weight: 700;
      }
    }
  }
  .header__infomsg-container {
    top: 125%;
    width: 430px;
    margin: 0;
    &-msg {
      left: -158px;
      &:before {
        content: "";
        position: absolute;
        top: -21px;
        left: 165px;
        border: 10px solid transparent;
        border-bottom: 10px solid #ebebeb;
      }
      &:after {
        content: "";
        position: absolute;
        top: -19px;
        left: 165px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
    }
    &-notif {
      left: -208px;
      &:before {
        content: "";
        position: absolute;
        top: -21px;
        left: 215px;
        border: 10px solid transparent;
        border-bottom: 10px solid #ebebeb;
      }
      &:after {
        content: "";
        position: absolute;
        top: -19px;
        left: 215px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
    }

  }
  .header__infomsg {
    @include flexbox();
    justify-content: space-between;
    min-height: 65px;
    border-bottom: 1px solid #d4d4d4;
    padding: 15px 20px;
    color: #000;
    font-size: .875rem;
    line-height: 1rem;

  }
  .header__infomsg-img {
    @include flexbox();
    width: 9%;
    min-width: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: url("../images/background-images/msg-bg.png") center no-repeat;
  }
  .header__infomsg-info {
    @include flexbox();
    @include align-items(center);
    flex-flow: row wrap;
    width: 88%;
    min-width: 345px;

  }
  .header__infomsg-title {
    display: inline-block;
    width: 60%;
    font-weight: 700;
  }
  .header__infomsg-date {
    display: inline-block;
    width: 40%;
    text-align: right;
    font-size: .625rem;
    font-weight: 400;
    color: #b7b7b7;
    vertical-align: top;
  }
  .header__infomsg-text {
    display: block;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header__dropdown-profile {
    top: 125%;
    left: -53px;
    min-width: 225px;
    margin: 0;
    padding: 0;
    color: #000;
    &:before {
      content: "";
      position: absolute;
      top: -21px;
      left: 62px;
      border: 10px solid transparent;
      border-bottom: 10px solid #ebebeb;
    }
    &:after {
      content: "";
      position: absolute;
      top: -19px;
      left: 62px;
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }
  .dropdown-profile__container {
    margin: 15px 0 5px 0;
  }
  .dropdown-profile__user {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    border-bottom: 1px solid #d4d4d4;
    margin: 0 0 10px;
    padding: 0 20px 10px;
  }
  .dropdown-profile__user-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .dropdown-profile__user-name {
    width: 110px;
    font-weight: 600;
  }
  .dropdown-profile__btn-container {
    @include flexbox();
    flex-flow: column;
    margin: 0 20px 10px 20px;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .dropdown-profile__btn {
    position: relative;
    @include justify-content(flex-start);
    width: 100%;
    min-height: 30px;
    margin: 0 0 10px 0;
    padding: 0 10px 0 70px;
    font-weight: 600;
    &-find {
      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 45px;
        width: 20px;
        height: 20px;
        background: url("../images/ui/find-white.png") no-repeat center;
      }
    }
    &-offer {
      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 45px;
        width: 20px;
        height: 20px;
        background: url("../images/ui/offer-white.png") no-repeat center;
      }
    }
    &-gifts {
      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 45px;
        width: 20px;
        height: 20px;
        background: url("../images/ui/gifts.png") no-repeat center;
      }
    }
    &-wallet {
      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 45px;
        width: 20px;
        height: 20px;
        background: url("../images/ui/wallet.png") no-repeat center;
      }
    }
    &-signout {
      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 45px;
        width: 20px;
        height: 20px;
        background: url("../images/ui/logout.png") no-repeat center;
      }
    }
  }
}

.header-landing {
  position: relative;
  min-height: 700px;
  padding: 50px 0 40px 0;
  background: url("../images/background-images/header.png") center no-repeat;
  background-size: 100%;
  box-shadow: none;
  color: #fff;
  .logo {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: 50%;
    margin-left: 25%;
  }

  .logo-img {
    width: 300px;
    height: 80px;
  }

  .header__btn-block {
    position: relative;
    @include flexbox();
    width: 25%;
    @include justify-content(flex-end);
    @include align-items(flex-start);
  }
  .header__dropdown-lang {
    color: #fff;
  }
}

.header__sticky {
  position: fixed;
  top: 0px;
  background: #fff;
  z-index: 1000;
  &-landing{
    position: fixed;
    top: -80px;
    background: #fff;
    z-index: 1000;
  }
}



