/*Grid*/
$wrapper-width: 1200px;

/*Fonts*/
$main-font-size: 16px;

/*Colors*/
$ui-color-green: #6ab344;
$ui-color-green-hover: #619546;
$ui-color-light-green: #71b64d;
$ui-color-dark-green: #66984c;

$ui-color-grey: #555;
$ui-color-light-grey: #ebebeb;

$ui-color-error: #ed1c24;
$ui-color-red: #ff0000;


$ui-color-white-2: #f4f4f4;

$ui-color-link: #0083c7;

/*Social*/
$facebook_btn: #3b5998;
$facebook_btn_hover: #324a80;
$google_btn: #4285f4;
$google_btn_hover: #346bc2;

